.hero {
    background: #fff;
}

.hero {
    color: #26353f;
}

.hero p {
    margin: 0;
}

.hero .illustration {
    width: 50%;
}

.hero .illustration img {
    width: 100%;
}

.hero__container {
    width: 80%;
    margin: 0 auto;
}

.hero__container.administration {
    width: 90%;
}

.hero__container > .row {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.city-illustration {
    width: 100%;
}

.row.three-equal-column .column {
    flex-basis: 33%;
    justify-content: flex-start;
}

.row + .row {
    margin-top: 2em;
}

form .honeypot {
    display: none;
}
