.hero {
    background: #fff;
}

.hero {
    color: #26353f;
}

.hero p {
    margin: 0;
}

.hero .illustration {
    width: 50%;
}

.hero .illustration img {
    width: 100%;
}

.hero__container {
    width: 80%;
    margin: 0 auto;
}

.hero__container.administration {
    width: 90%;
}

.hero__container > .row {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.city-illustration {
    width: 100%;
}

.row.three-equal-column .column {
    flex-basis: 33%;
    justify-content: flex-start;
}

.row + .row {
    margin-top: 2em;
}

form .honeypot {
    display: none;
}

.stat-cards {
    display: flex;
}

.stat-card {
    background-color: white;
    padding: 3em;
    border: 1px solid rgba(0,0,0,0.15);
    text-align: center;
    margin: auto;
}

.stat-card-title {
    color: rgba(0,0,0,0.5);
}

.stat-card-number {
    font-size: 6em;
    color: #3d95ec;
    font-weight: bold;
}
