.hero {
    background: linear-gradient(to top, #fef7df 47%, #d7edff 47%);
}

.hero h1,
.hero p {
    color: #000;
}

.hero p {
    margin: 0;
}

.hero__container {
    width: 80%;
    margin: 0 auto;
}

.hero__container > .row {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hero .illustration {
    width: 50%;
}

.city-illustration {
    width: 100%;
}

.row.three-equal-column .column {
    flex-basis: 33%;
    justify-content: flex-start;
}

.container.multiple_subtitles .section__title {
    margin: 0 auto 1em;
}

.container.multiple_subtitles .section__subtitle {
    margin: 3em auto 1em;
}
